backup_20251223_121117/[SUB] Food Image.json
{
  "name": "[SUB] Food Image",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "userId"
            },
            {
              "name": "messageId"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        256,
        -320
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "824ab596-dfdd-4b2c-a525-12825bbcd8b7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1fcc7f1d-48fb-42c8-a17f-a4d22df38413",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1504,
        -96
      ],
      "id": "0e40d6a4-8b0c-472c-81e2-824a84c3fac0",
      "name": "Switch1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=請判斷此是否是食物的圖片",
        "messages": {
          "messageValues": [
            {
              "message": "你是一位辨識食物圖片的專家，如果圖片中有食物請輸出1；沒有的話請輸出2。"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1152,
        -96
      ],
      "id": "a75efe11-e4b9-4a0c-b52e-3286dd36fd16",
      "name": "Basic LLM Chain3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1232,
        128
      ],
      "id": "f85afd7e-ef4c-456d-9a6f-fab579dc3b97",
      "name": "Google Gemini Chat Model6",
      "credentials": {
        "googlePalmApi": {
          "id": "m3rIFo4KWXjpkCMd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1728,
        -224
      ],
      "id": "26088008-63b1-4fa0-8b42-5a9a2ea58f8c",
      "name": "Merge4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://food-detection-api:8084/food_detection",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "=image",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1952,
        -224
      ],
      "id": "c6620b31-4c2f-46a2-a911-b44e86ddf2bb",
      "name": "連線程式碼API_圖像"
    },
    {
      "parameters": {
        "url": "=https://api-data.line.me/v2/bot/message/{{ $item(\"0\").$node[\"When Executed by Another Workflow\"].json[\"messageId\"] }}/content",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer uRqMFQ1KdVU79IOYm3svDPEctOSxF3ud1hDocb+tIw5D2w7nbEVEoUGSeQhQHf1h69pl2RP47ekJuLsHURRv7iRSvBJaT41Spm3gUKIZvWlHKOhA9EJZgzSal/c50gz3NPY+X1L19fKUL1q77I0dLgdB04t89/1O/w1cDnyilFU="
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        -224
      ],
      "id": "ffd673a9-ca7a-4ad0-a4e7-b219548f80d3",
      "name": "接收圖片1"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "flag_set"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "name": "Check Image Message",
      "typeVersion": 1,
      "position": [
        704,
        -320
      ],
      "id": "3b71a62e-5497-4bf3-864e-9923c13de144"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "projectId": {
          "__rl": true,
          "value": "itr-aimasteryhub-lab",
          "mode": "list",
          "cachedResultName": "CFH-AIMasteryHub-LAB",
          "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=itr-aimasteryhub-lab"
        },
        "sqlQuery": "SELECT\n  status\nFROM\n  `itr-aimasteryhub-lab.n8n.image_state`\nWHERE\n  userID = '{{ $json[\"userId\"] }}'\nORDER BY\n  createdAt DESC\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        480,
        -320
      ],
      "id": "1ee5089b-d003-4797-9229-7c91fee5048f",
      "name": "Execute a SQL query",
      "credentials": {
        "googleApi": {
          "id": "nK6hRyaZZvXYmW4X",
          "name": "Service Account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1216,
        -512
      ],
      "id": "ae640d1d-b254-4cff-9f49-aefd165e5033",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "insert",
        "projectId": {
          "__rl": true,
          "value": "itr-aimasteryhub-lab",
          "mode": "list",
          "cachedResultName": "CFH-AIMasteryHub-LAB",
          "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=itr-aimasteryhub-lab"
        },
        "datasetId": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "tableId": {
          "__rl": true,
          "value": "image_state",
          "mode": "list",
          "cachedResultName": "image_state"
        },
        "dataMode": "define",
        "fieldsUi": {
          "values": [
            {
              "fieldId": "=userId",
              "fieldValue": "={{ $('Code').item.json.userId }}"
            },
            {
              "fieldId": "=status",
              "fieldValue": "={{ $('Code').item.json.status }}"
            },
            {
              "fieldId": "=createdAt",
              "fieldValue": "={{ $json.currentDate }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleBigQuery",
      "typeVersion": 2.1,
      "position": [
        1504,
        -512
      ],
      "id": "551fd4d1-009d-45c0-9030-df8b4e6ac4e3",
      "name": "Insert rows in a table1",
      "credentials": {
        "googleApi": {
          "id": "nK6hRyaZZvXYmW4X",
          "name": "Service Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 從上一個 node 取出 userId\nconst userId = $item(0).$node[\"When Executed by Another Workflow\"].json.userId;\n\n// 初始化 global flags\nif (!globalThis.foodFlags) globalThis.foodFlags = {};\n\n// 設定 flag\nglobalThis.foodFlags[userId] = true;\n\nreturn [\n  {\n    json: {\n      status: '0',\n      userId: userId,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -512
      ],
      "id": "b0496eb3-dff3-45a5-8adf-95f165ec0520",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "連線程式碼API_圖像",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "接收圖片1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Check Image Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Image Message": {
      "main": [
        [
          {
            "node": "接收圖片1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d5a7ad93-41fd-45cb-8cec-10a5de0284a3",
  "meta": {
    "instanceId": "fe071ad636e45e06fef1442bb4b3138ea8056f3019d720e9410a8f0ea42951a8"
  },
  "id": "0PE3toWgEbBJhKWd",
  "tags": [
    {
      "updatedAt": "2025-08-21T02:49:05.390Z",
      "createdAt": "2025-08-21T02:49:05.390Z",
      "id": "lygt6UVIOm5CiWbW",
      "name": "linebot"
    }
  ]
}